* {
     margin: 0;
     padding: 0;
}

.cabecalho{
     background-color: #4682B4;
     color:#f5f5f5;
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 24px o;
}

.cabecalho-imagem{
     width: 5%;
}

.cabecalho-lista-item{
     display: inline-block;
     margin: 0 16px;
     font-size: 24px;

}

.escola-imagem{
     width: 25;
}

.escola{
     background-image: linear-gradient(rgb(32, 32, 121), rgb(50, 50, 141));
     color: rgb(201, 194, 194);
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 24px 0;
}

.escola-div-conteudo{
     width: 35%;
}
.escola-titulo{
     padding: 24px 0;
}

.estudante-imagem{
     width: 10%;
}

.estudante{
     padding: 24px 0;
     background-color: #98c8f0;
}

.estudante-icone{
     width: 120px;
     padding: 4px 8px;
}

.estudante-div{
     text-align: center;
     padding: 16px 0;
}
