* {
     margin: 0;
     padding: 0;
}

.cabecalho{
     background-color: #4682B4;
     color:#f5f5f5;
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 24px o;
}

.cabecalho-imagem{
     width: 5%;
}

.cabecalho-lista-item{
     display: inline-block;
     margin: 0 16px;
     font-size: 24px;
}
